<!DOCTYPE html>
<html lang="es">

{{ partial "head.html" . }}

<body class="page homepage">
  {{ partial "header.html" . }}

  <main class="main">
    {{ partial "about.html" . }}
    {{ partial "join.html" . }}
    {{ partial "message.html" . }}
  </main>

  {{ partial "footer.html" . }}
  {{ partial "scripts.html" . }}
</body>
</html>
