{{$list := where (where .Site.RegularPages.ByDate.Reverse "Type" "eventos") "Date" ">=" now}}
{{$length := len ($list)}}
<section class="section events">
  <h2 class="events-title">Próximos eventos</h2>
  <div class="container">
    {{if not $length }}
      <div class="empty-event-list">
        <p>
          Pronto publicaremos más informacíon sobre nuestro siguiente evento. <br>
          <b>¿Quieres participar?</b><br>
          Contáctanos a través de cualquiera de nuestras redes sociales.
        </p>
        <h2>¡Nos vemos el segundo viernes de cada mes!</h2>
      </div>
    {{end}}
    {{ range ($list) }}
      <div class="post-thumbnail">
        <a href="{{ .Permalink }}"><img src="{{ .Params.thumbnail }}" alt="Cartel del evento"></a>
      </div>
    {{ end }}
  </div>
</section>
