* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

:root {
  --purple: #292f51;
  --blue: #164f75;
  --cyan: #2ba3bf;
  --gray: #4d4a58;
  --dark: #29272e;
  --snow: #fffafa;
}

body {
  font-size: 20px;
  line-height: 1.85;
  font-family: "Rubik", "Helvetica", "Arial", sans-serif;
  color: var(--dark);
  letter-spacing: 0.15px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Playfair Display", serif;
  font-weight: bold;
  margin-bottom: 1rem;
  line-height: 1.5;
}

h1 {
  font-size: 2.3rem;
}

h2 {
  font-size: 2.15rem;
}

h3 {
  font-size: 1.9rem;
}

h4 {
  font-size: 1.75rem;
}

a {
  color: var(--purple);
}

.container {
  width: 90%;
  margin: 0 auto;
  padding: 3em 0;
}

@media screen and (max-width: 960px) {
  .container {
    width: calc(100% - 2em);
  }
}
.btn {
  display: block;
  font-size: 1.25rem;
  text-align: center;
  padding: 0.5rem;
  margin: 2rem auto;
  text-decoration: none;
  border-radius: 3px;
  width: 10rem;
  height: 3.6rem;
}

@media screen and (max-width: 767px) {
  .btn {
    height: auto;
  }
}

.btn-main {
  background-color: var(--cyan);
  color: #fafaff;
}
.btn-main:hover {
  background-color: #fafaff;
  color: var(--purple);
}
.btn-secondary {
  background-color: var(--purple);
  color: #fff;
}
.btn-secondary:hover {
  background-color: #fff;
  border: 1px solid var(--purple);
  color: var(--purple);
}

.header {
  width: 86%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding: 1rem 0;
}
.header .nav .menu {
  padding-top: 1rem;
  padding-left: 2rem;
  align-items: center;
}
.header .nav .menu .menu-section {
  text-align: right;
}
.header .nav .menu .menu-section a {
  text-decoration: none;
  color: var(--blue);
  margin: 0 0.5rem;
  font-size: 1.2rem;
  vertical-align: baseline;
  white-space: nowrap;
}
.header .nav .menu .menu-section a:hover {
  color: var(--cyan);
}
.header .nav .menu .menu-section a .svg {
  width: 1.2rem;
  fill: var(--purple);
}

@media screen and (max-width: 960px) {
  .header {
    display: block;
  }
  .header .logo {
    display: block;
  }
  .header .logo img {
    margin: 0 auto;
  }
  .header .nav .menu .menu-section {
    text-align: center;
  }
}
@media screen and (max-width: 767px) {
  .header .nav .menu {
    padding-top: 1rem;
    padding-left: 0;
  }
}
.logo img {
  display: block;
  width: 210px;
}

.footer {
  background-color: var(--purple);
  padding: 2rem;
  text-align: center;
  color: #fff;
  font-size: 1rem;
}
.footer nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.footer a {
  color: var(--snow);
}
.footer nav a {
  margin: 0.4rem;
}
.footer nav .svg {
  width: 1.5rem;
  fill: #fff;
}

.homepage .section {
  margin: 5rem 0;
}
.homepage .section .section-title {
  text-align: center;
  color: var(--purple);
}
.homepage .section .section-content {
  padding: 0 0.5rem;
}
.homepage .about {
  background: var(--purple);
  color: #fff;
}
.homepage .message {
  background: var(--blue);
  color: #fff;
}
.homepage .message h1,
.homepage .about h1.xalapacode {
  font-family: "Rubik", "Helvetica", "Arial", sans-serif;
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 2rem;
}
.homepage .message p,
.homepage .about p {
  font-size: 1.5rem;
  color: #fafaff;
}
.homepage .message .buttons,
.homepage .about .buttons {
  display: flex;
  justify-content: center;
}
.homepage .message .btn {
  height: auto;
}
.homepage .message .buttons .col-50,
.homepage .about .buttons .col-50 {
  margin: 1rem;
}
.homepage .blog-home .section-title {
  text-align: center;
}
.homepage .blog-home .section-content {
  display: grid;
  padding: 4rem;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 2rem;
}
.homepage .events {
  background-color: #fafaff;
  background-image: url("data:image/svg+xml,%3Csvg width='42' height='44' viewBox='0 0 42 44' xmlns='http://www.w3.org/2000/svg'%3E%3Cg id='Page-1' fill='none' fill-rule='evenodd'%3E%3Cg id='brick-wall' fill='%23164f75' fill-opacity='0.4'%3E%3Cpath d='M0 0h42v44H0V0zm1 1h40v20H1V1zM0 23h20v20H0V23zm22 0h20v20H22V23z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  padding: 4rem 1rem;
}
.homepage .events .events-title {
  text-align: center;
  text-transform: uppercase;
  color: var(--purple);
  background-color: white;
  padding: 0.2rem;
  display: block;
  width: 350px;
  margin: 0 auto;
  border: 3px solid var(--purple);
  box-shadow: 0 0 20px 20px #fff;
  transform: rotate(-4deg);
  margin-bottom: 1rem;
}
.homepage .events .container {
  display: flex;
  justify-content: space-around;
}
.homepage .events .container .empty-event-list {
  background-color: #fff;
  box-shadow: 0 0 5px 2px gray;
  margin: 40px;
  padding: 40px;
  color: var(--purple);
  text-align: center;
}
.homepage .events .container .empty-event-list h2 {
  color: var(--cyan);
}
.homepage .events .container .post-thumbnail {
  width: 33%;
}
.homepage .events .container .post-thumbnail img {
  width: 100%;
  display: block;
  margin: 0 auto;
}
.homepage .directory .section-content {
  display: flex;
  flex-flow: row wrap;
}
.homepage .directory .section-content .post-thumbnail {
  margin-right: 1rem;
  margin-bottom: 1rem;
}
.homepage .directory .section-content .post-thumbnail img {
  max-width: 90px;
  height: auto;
}

@media screen and (max-width: 767px) {
  .homepage .about .buttons {
    width: 90%;
  }
  .homepage .about .buttons .col-50 {
    display: block;
    width: 90%;
  }
  .homepage .events .events-title {
    width: 100%;
  }
  .homepage .blog-home .section-content {
    grid-template-columns: 1fr;
  }
}
.page-events .container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 2em;
}
.page-events .post {
  margin-bottom: 3em;
}
.page-events .post .post-title {
  text-align: center;
}
.page-events .post .post-title a {
  color: var(--purple);
  text-decoration: none;
}
.page-events .post .post-thumbnail img {
  width: 100%;
  height: auto;
}
.page-events .post .post-topics .topic {
  display: inline-block;
  font-family: monospace;
  font-weight: bold;
  color: var(--cyan);
}
.page-events .post .post-topics .topic:after {
  content: "/>";
  color: var(--blue);
}
.page-events .post .post-topics .topic:before {
  content: "<";
  color: var(--blue);
}

@media screen and (max-width: 767px) {
  .page-events .container {
    grid-template-columns: 1fr;
  }
}
.single-events .post {
  width: 86%;
  margin: 0 auto;
}
.single-events .post-title {
  text-align: center;
  margin-bottom: 1rem;
}
.single-events .post-thumbnail img {
  width: 600px;
  margin: 0 auto 1rem;
  display: block;
}

@media all and (max-width: 690px) {
  .single-events .post-thumbnail img {
    width: 100%;
  }
}
.page-blog .container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 4rem;
}
.page-blog .container .post {
  padding: 1rem;
  border: 1px solid #f0f0f0;
  box-shadow: 2px 3px 5px #f0f0f0;
}
.page-blog .container .post .post-title a {
  color: var(--purple);
  text-decoration: none;
}
.page-blog .container .post .post-title a:hover {
  text-decoration: underline;
}
.page-blog .container .post-tiny {
  box-shadow: 3px 3px 5px whitesmoke;
}

@media screen and (max-width: 767px) {
  .page-blog .container {
    grid-template-columns: 1fr;
  }
}
.single-blog .container {
  padding: 4em;
}
.single-blog .post-header {
  border: 1px solid #f0f0f0;
  width: 35%;
  margin: 0 auto;
  padding-bottom: 1em;
  box-shadow: 1px 1px 3px #fafafa;
}
.single-blog .post-thumbnail {
  width: 80%;
  margin: 0 auto;
}
.single-blog .post-thumbnail img {
  width: 100%;
  border: 1px solid #f0f0f0;
}
.single-blog .post-description {
  width: 90%;
  margin: 0 auto;
}
.single-blog .post-title {
  text-align: center;
  margin-bottom: 2em;
}
.single-blog .post-content {
  margin-top: 4em;
}
.single-blog .post-footer {
  margin: 5em 0 1em;
  background-color: rgba(67, 76, 132, 0.3);
  padding: 1em;
}
.single-blog p code {
  background-color: whitesmoke;
  padding: 1px;
  font-family: monospace;
}
.single-blog pre {
  overflow-x: auto;
}
.single-blog figure {
  text-align: center;
}
.single-blog figure img {
  max-width: 70%;
  border-radius: 4px;
  border: 1px solid gray;
}
.single-blog blockquote {
  font-size: 1.5rem;
  width: 50%;
  margin: 30px auto 50px;
  font-style: italic;
  font-family: "Playfair Display", serif;
  color: #333;
  padding: 1.2em 30px 1.2em 50px;
  border-left: 8px solid var(--blue);
  line-height: 1.6;
  position: relative;
  background: #fafaff;
}
.single-blog blockquote::before {
  font-family: Arial;
  content: "\201C";
  color: var(--blue);
  font-size: 4em;
  position: absolute;
  left: 10px;
  top: -10px;
}
.single-blog blockquote::after {
  content: "";
}
.single-blog blockquote em {
  display: block;
  color: #222;
  font-style: normal;
  font-weight: bold;
  margin-top: 1em;
  text-align: right;
}
.single-blog table.table-container {
  text-align: center;
  border-collapse: collapse;
  font-size: 1.1rem;
}
.single-blog table.table-container td,
.single-blog table.table-container th {
  padding: 0.75em;
}
.single-blog table.table-container th {
  border-bottom: 4px solid gainsboro;
}
.single-blog table.table-container.blue th {
  border-bottom: 4px solid var(--blue);
}
.single-blog table.table-container.blue td:nth-child(even),
.single-blog table.table-container.blue th:nth-child(even) {
  background-color: rgba(34, 122, 181, 0.4);
}
.single-blog table.table-container.red th {
  border-bottom: 4px solid #e03c31;
}
.single-blog table.table-container.red td:nth-child(even),
.single-blog table.table-container.red th:nth-child(even) {
  background-color: rgba(234, 123, 115, 0.4);
}

@media screen and (max-width: 767px) {
  .single-blog .container {
    padding: 0;
  }
  .single-blog .container .post-header {
    width: 90%;
    padding-bottom: 1em;
  }
  .single-blog .container .post-thumbnail {
    width: 95%;
    margin: 0 auto;
  }
  .single-blog .container .post-thumbnail img {
    width: 100%;
    border: 1px solid #f0f0f0;
  }
}
.page-identity img {
  max-width: 100%;
  height: auto;
}
.page-identity .logo-white img {
  background-color: var(--purple);
}
.page-identity .wallpapers {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 2em;
  grid-row-gap: 0.4em;
}
.page-identity .wallpapers .wallpaper p {
  margin: 0;
  padding: 0;
  text-align: center;
}
.page-identity .wallpapers .wallpaper p a {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

@media screen and (max-width: 767px) {
  .page-identity .wallpapers {
    grid-template-columns: 1fr;
  }
}
.page-ecosystem .container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 4rem;
}
.page-ecosystem .ally {
  background-color: #fff;
  border: 1px solid #e6e6e6;
  box-shadow: 2px 2px 2px #f0f0f0;
  padding: 2rem;
}
.page-ecosystem .ally h1 {
  text-align: center;
  padding-bottom: 1rem;
}
.page-ecosystem .ally a {
  color: var(--purple);
  text-decoration: none;
}
.page-ecosystem .ally img {
  display: block;
  max-width: 80%;
  margin: 0 auto;
}
.page-ecosystem .ally .post-content {
  padding-top: 1rem;
}

@media (max-width: 767px) {
  .page-ecosystem .container {
    grid-template-columns: 1fr;
  }
}
.single-ecosystem .post-title {
  text-align: center;
}
.single-ecosystem .post-thumbnail {
  width: 40%;
  margin: 0 auto;
}
.single-ecosystem .post-thumbnail img {
  max-width: 100%;
}

.page-directory .container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 4em;
}
.page-directory .container .member .post-title h4 a {
  text-decoration: none;
  color: var(--purple);
}
.page-directory .container .member .post-thumbnail img {
  width: 100%;
  height: auto;
}

@media screen and (max-width: 767px) {
  .page-directory .container {
    grid-template-columns: 1fr;
  }
}
.page-4aniv .main h1,
.page-4aniv .main h2,
.page-4aniv .main h3,
.page-4aniv .main h4,
.page-4aniv .main h5,
.page-4aniv .main h6 {
  text-align: center;
  font-size: 2.8rem;
}
.page-4aniv .main p {
  font-size: 1.6rem;
}
.page-4aniv .main img {
  width: 80%;
  display: block;
  margin: 0 auto;
}

